.body .header.footer {
    margin-top: 0px;
    padding: 0px;
    background-image: url(../../HTML/img/21414-verde-claro.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: exclusion;
}

.body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 0%;
    row-gap: 30px;
    background-attachment: fixed;
}

.header h1 {
    color: rgb(14, 65, 14);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: greenyellow;
    background-attachment: fixed;
}

.contenedor {
    display: grid;
    text-align: justify;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    gap: 5%;
    margin-top: 0%;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(14, 65, 14);
}

.contenido1.contenido2 {

    grid-template-columns: 0%;
    grid-template-rows: 15px;
    /* gap: 20%; */
    text-align: justify;

}

.contenedor .abajo {
    grid-column-start: 1;
    grid-column-end: 4;
}
.Regresar {
    padding: 15px 25px;
    text-decoration: none;
    border-style: 2px, solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer {

    padding: 15px 25px;
    text-decoration: none;
    border-style: 2px, solid;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

footer {
    display: flex;
    flex-direction: row;
    margin-left: 0%;
    margin-inline-end: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
}