h2 {
    font-size: 22px;
    text-align: center;
    font-family: 'DynaPuff', cursive;

}

body {
    display: grid;
    grid-column-start: auto;
    grid-column-end: 1;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../HTML/img/fondo\ claro\ 1.jpg);

}

fieldset {
    font-weight: bold;
    font-size: x-large;
    border-radius: 2%;
    border-color: black;
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: left;
    width: max-content;
    height: auto;
}

#formulario {
    padding: 5%;
}

.cajita {
    padding-bottom: 7%;
}
.regresar{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}