body {
    background-color: olive;
    font-family: 'Alkatra', cursive;

}

h2 {
    text-align: center;
    font-family: 'Rubik Moonrocks', cursive;

}

h3 {
    text-align: center;
    font-family: 'Rubik Moonrocks', cursive;

}


.contenedor {

    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    gap: 20px;

}


.contenedor .header,
.contenedor .bloque1,
.contenedor .bloque2,
.contenedor .footer {

    padding: 20px;
    border-radius: 4px;

}

.contenedor .header {

    background-image: url(../../HTML/img/240_F_590652631_XYduDmkbjJOyeeII2qzrUwHFtIU9ps89.jpg);
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;

}

.contenedor .nav {

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}



.contenedor .bloque1 {
    background-color: goldenrod;
    height: 250px;
    text-align: justify;
    font-size: 20px;
    border-style: outset;

}

.contenedor .bloque2 {
    background-color: khaki;
    padding-bottom: 100px;
    margin-bottom: 40px;
    height: 300px;
    text-align: justify;
    font-size: 20px;
    border-style: outset;

}

.contenedor .footer {
    background-color: darkkhaki;
    height: 40px;
    text-decoration: none;
    border-style: 2px, solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 15px 25px;

}

/* Celular */
@media screen and (max-width:600px) {
    body {
        background-color: rgb(137, 128, 47);

    }

    .main .bloque1 {
        font-size: 14px;
    }

    .main .bloque2 {
        font-size: 14px;
    }

    .contenedor .header {
        font-size: 13px;
    }

}

/* Tablets */
@media screen and (min-width:600px) and (max-width:850px) {
    body {
        background-color: rgb(117, 151, 59);
    }

    h1 {
        font-style: italic;

    }

    .main .bloque1 {
        font-size: 16px;
    }

    .main .bloque2 {
        font-size: 16px;
    }

}