 .grid-container {
     width: 800px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: 200px 200px;
     align-content: center;
     justify-content: center;
     grid-gap: 10px;

 }

 h3 {
     text-align: center;
 }

 .contenedor .header {
     grid-area: header;
     background-image: url(../../HTML/img/240_F_590652631_XYduDmkbjJOyeeII2qzrUwHFtIU9ps89.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 40vh;
 }

 .contenedor .main {
     grid-area: main;
     background-color: hsl(60, 70%, 70%);
     height: 70vh;
 }

 .contenedor .bloque1 {
     grid-area: bloque1;
     background-color: hsl(60, 70%, 70%);
     color: black;
     text-align: justify;
     font-size: 20px;
     height: 25vh;
     padding-left: 5%;
     padding-right: 5%;

 }

 .contenedor .bloque2 {
     grid-area: bloque2;
     background-color: hsl(60, 70%, 70%);
     color: black;
     text-align: initial;
     font-size: 20px;
     height: 52vh;
     padding-left: 3%;
     padding-right: 3%;

 }

 .contenedor .footer {
     grid-area: footer;
     height: 10vh;
 }