.contenedor{
    display: grid;
    max-width: 120rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    "header"
    "main"
    "bloque 1"
    "bloque 2"
    "footer";
    margin-right: auto;
    margin-left: auto;
    gap: 2%;
}
.contenedor .header{
    grid-area: header;
    background-image: url(../../HTML/img/240_F_590652631_XYduDmkbjJOyeeII2qzrUwHFtIU9ps89.jpg);
    height: 40vh;
}

.contenedor .main{
    grid-area: main;
    background-color: #d2b48c;
    height: 40vh;
}

.contenedor .bloque1{
    grid-area: bloque1;
    background-color: #d2b48c;
    color:black;
    height: 15vh;
}

.contenedor .bloque2{
    grid-area: bloque2;
    background-color: #d2b48c;
    color:black;
    height: 15vh;
}

.contenedor .footer {
    grid-area: footer;
    height: 10vh;
}